<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smarting.price.tools.mapper.CountryMapper">

    <select id="queryAllCountrys" resultType="com.smarting.price.tools.entity.Country">
        select id, country_cn as country, country_code as countryCode, region, region_cn as regionCn
        from country
        where country_code is not null
          and country_code != ''
    </select>

    <select id="queryAreas" resultType="com.smarting.price.tools.entity.Country">
        select distinct region, region_cn as regionCn
        from country
        where region is not null
          and region != ''
    </select>

    <select id="queryAreasCn" resultType="com.smarting.price.tools.entity.Country">
        select country_code countryCode, region_cn as regionCn
        from country
        where country_code is not null
          and country_code != ''
    </select>
</mapper>