<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smarting.price.tools.mapper.UserMapper">

    <select id="getAuthenticate" resultType="com.smarting.price.tools.entity.User">
        select email,name,nick,role_code as roleCode from user_info where email= #{userName} and password= #{password}
    </select>

    <select id="getCurrentUer" resultType="com.smarting.price.tools.entity.User">
        select email,name,nick,role_code as roleCode from user_info where email= #{email}
    </select>
</mapper>